spring.application.name=notificationservice
server.port=8081

# Kafka (Safe to keep if using local defaults)
spring.kafka.bootstrap-servers=localhost:9092
spring.kafka.template.default-topic=asteroid-alert
spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
spring.kafka.producer.value-serializer=org.springframework.kafka.support.serializer.JsonSerializer

# Mailtrap/Gmail (Sensitive)
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=${MAIL_USERNAME}
spring.mail.password=${MAIL_PASSWORD}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

email.service.from.email=${MAIL_USERNAME}
